[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
werkzeug = "*"
flask-script = "*"
jinja2 = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-moment = "*"
flask-sqlalchemy = "==2.4.4"
flask-migrate = "*"
flask-mail = "*"
flask-login = "*"

[requires]
python_version = "3.7"
